<h1>Do you dare challenge the Mighty Sphinx?</h1>
<form action="/proceed" method="post">
<button name="proceed" type="submit">Proceed</button>
</form>
<button name="retreat" type="submit">Retreat</button>
